/* Extra Small Area Start*/
@media (max-width: 576.98px) {
  .nav-item {
    margin-top: 15px;
  }
  .nav-link {
    padding: 10px 0;
    font-size: 16px !important;
  }

  .nav-link::after {
    display: none;
  }

  .nav-link:hover {
    color: rgb(235, 220, 220) !important;
    margin-left: 12px;
  }
}
/* Extra Small Area End*/

/* Small Area Start */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* Small Area End */

/* Medium Area Start */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* Medium Area Start */

/* Large Area Start */
@media (min-width: 768px) and (max-width: 1199.98px) {
  /* Navbar Area Start */
  .nav-link {
    margin: 0 0.9vw;
    font-size: 1.2vw;
  }
  /* Navbar Area End */
}
/* Large Area End */
