/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
  margin: 0;
}
/* Common CSS End */

/* Navbar Area Start */
.navbar {
  background-color: #27292b;
}

.nav-link {
  padding: 10px 35px;
  color: aliceblue !important;
  text-transform: uppercase;
  font-family: 'Montserrat';
  position: relative;
  margin: 0 1.9vw;
  font-size: 1vw;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.nav-link:hover {
  color: rgb(235, 220, 220) !important;
}


.nav-link::after {
  position:absolute;
  content: '';
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #bff3bf;
  transition: cubic-bezier(.77,0,.18,1) .5s;
  -webkit-transition: cubic-bezier(.77,0,.18,1) .5s;
  -moz-transition: cubic-bezier(.77,0,.18,1) .5s;
  -ms-transition: cubic-bezier(.77,0,.18,1) .5s;
  -o-transition: cubic-bezier(.77,0,.18,1) .5s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.nav-link:hover::after {
  width: 100%;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
/* Navbar Area End */