/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
  margin: 0;
}
/* Common CSS End */

/* Navbar Area Start */
.navbar {
  
  background-color: #27292b;


}

.nav-link {
  padding: 10px 35px;
  color: aliceblue !important;
  text-transform: uppercase;
  font-family: 'Montserrat';
}
/* Navbar Area End */